.contact{
    background: whitesmoke;
    padding-right: 120px;
    padding-left: 120px;
    min-height: auto;
}
.contactcontent{
    display: flex;
}
.formbox{
    min-width: 60%;
}
.formbox form{
    display: flex;
    flex-direction: column;
}
.formbox form label{
    display: none;
}
.formbox h3, .contactinfo h3{
    color: #009e66;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}
.formbox form textarea{
    height: 130px;
}
.formbox form input, .formbox form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 14px;
    background: transparent;
    border: none;
    outline: none;
    background: white;
    color: black;
    resize: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.formbox form button{
    background: #009e66;
    color: whitesmoke;
    height: 65px;
    max-width: 200px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid #009e66;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.formbox form button:hover{
    color: #009e66;
    background: whitesmoke;
}
.contactinfo{
    min-width: 40%;
}
.contactinfobox{
    position: relative;
}
.contactinfobox .box{
    position: relative;
    padding: 5px 0;
    display: flex;
}
.contactinfobox .box .icon{
    min-width: 40px;
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
    color: #009e66;
}
.contactinfobox .box .text{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 300;
    flex-direction: column;
}
.contactinfobox .box .text h3{
    font-style: normal;
    color: #009e66;
    font-weight: 500;
    margin: 0;
}
.contactinfobox .box .text p, .contactinfobox .box .text a{
    font-style: normal;
    font-weight: 300;
    color: #333;
}
.contactinfobox .box .text a:hover{
    color: #009e66;
}
@media(max-width:769px){
    .contact{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media(max-width:500px){
    .contactcontent{
        flex-direction: column;
    }
    .contact{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media(max-width:426px){
    .contactcontent{
        flex-direction: column;
    }
    .contact{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media(max-width:376px){
    .contactcontent{
        flex-direction: column;
    }
    .contact{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media(max-width:321px){
    .contactcontent{
        flex-direction: column;
    }
    .contact{
        padding-left: 40px;
        padding-right: 40px;
    }
}