.experience{
    min-height: auto;
}
.experiencetimeline{
	position: relative;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 15px 0;
}
.experiencetimeline::after{
	content: '';
	position: absolute;
	width: 2px;
	background: #009e66;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -1px;
}
.experiencetimelinecontainer{
	padding: 15px 30px;
	position: relative;
	background: inherit;
	width: 50%;
}
.experiencetimelinecontainer.experiencetimelineleft{
	left: 0;
}
.experiencetimelinecontainer.experiencetimelineright{
	left: 50%;
}
.experiencetimelinecontainer::before{
	content: '';
	position: absolute;
	width: 22px;
	height: 2px;
	top: calc(50% - 1px);
	right: 8px;
	background: #009e66;
	z-index: 1;
}
.experiencetimelinecontainer::after{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	top: calc(50% - 8px);
	right: -8px;
	background: whitesmoke;
	border: 2px solid #009e66;
	border-radius: 16px;
	z-index: 1;
}
.experiencetimelinecontainer.experiencetimelineright::before{
	left: 8px;
}
.experiencetimelinecontainer.experiencetimelineright::after{
	left: -8px;
}
.experiencetimelinecontainer .experiencetimelineicon{ 
	position: absolute; display: 
	inline-block; width: 40px; 
	height: 40px; 
	padding: 9px 0; 
	top: calc(50% - 20px); 
	background: whitesmoke; 
	border: 2px solid #009e66; 
	border-radius: 40px; 
	text-align: center; 
	font-size: 18px; 
	color: #009e66; 
	z-index: 1;
}
.experiencetimelinecontainer.experiencetimelineleft .experiencetimelineicon{
	right: 56px;
}
.experiencetimelinecontainer.experiencetimelineright .experiencetimelineicon{
	left: 56px;
}
.experiencetimelinecontainer .experiencetimelinecontent{
	padding: 30px 90px 30px 30px;
	background: whitesmoke;
	position: relative;
	border-radius: 0 500px 500px 0;
	border: 2px solid #009e66;
}
.experiencetimelinecontainer.experiencetimelineright .experiencetimelinecontent{
	padding: 30px 30px 30px 90px;
	border-radius: 500px 0 0 500px;
}
.experiencetimelinecontainer .experiencetimelinecontent h2{
	margin: 0 0 10px 0;
	font-size: 18px;
	color: #333;
}
.experiencetimelinecontainer .experiencetimelinecontent p{
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	color: #333;
}

@media (max-width: 800px){
	.experiencetimeline::after{
		left: 90px;
	}
	.experiencetimelinecontainer{
		width: 100%;
		padding-left: 120px;
		padding-right: 30px;
	}
	.experiencetimelinecontainer.experiencetimelineright{
		left: 0%;
	}
	.experiencetimelinecontainer.experiencetimelineleft::before, .experiencetimelinecontainer.experiencetimelineright::before{
		left: 100px;
		border-color: transparent #009e66 transparent transparent;
	}
	.experiencetimelinecontainer.experiencetimelineleft::after, .experiencetimelinecontainer.experiencetimelineright::after{
		left: 82px;
	}
	.experiencetimelinecontainer.experiencetimelineleft .experiencetimelineicon, .experiencetimelinecontainer.experiencetimelineright .experiencetimelineicon{
		right: auto;
		left: 146px;
	}
	.experiencetimelinecontainer.experiencetimelineleft .experiencetimelinecontent, .experiencetimelinecontainer.experiencetimelineright .experiencetimelinecontent{
		padding: 30px 30px 30px 90px;
		border-radius: 500px 0 0 500px;
	}
}